.react-player {
  border-radius: 10px; /* Angoli arrotondati */
  overflow: hidden; /* Nasconde parti del video che potrebbero fuoriuscire a causa del border-radius */
  max-width: 100%; /* Imposta la larghezza massima al 100% del suo contenitore genitore */
  aspect-ratio: 16 / 9; /* Mantiene un rapporto di aspetto di 16:9 */
  box-sizing: border-box; /* Include bordo e padding nel calcolo della larghezza/altezza */
}

.canvas-button {
  top: 1rem; /* Distanza dal bordo superiore */
  right: 1rem;
  position: absolute;
  background-color: #3BA6D4; /* Colore di sfondo */
  color: white; /* Colore del testo */
  border: none; /* Nessun bordo */
  border-radius: 5px; /* Angoli arrotondati */
  padding: 0.5rem 1rem; /* Spaziatura interna */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  transition: background-color 0.3s, color 0.3s; /* Transizione per il cambio di colore */
  z-index: 1001; /* Posiziona sopra l'area di disegno */
}

.canvas-button.active {
  background-color: white; /* Colore di sfondo attivo */
  color: #3BA6D4; /* Colore del testo attivo */
  border: 2px solid #3BA6D4; /* Bordo per distinguere l'attivazione */
}

.canvas-button:hover {
  background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
  color: white; /* Cambia il colore del testo al passaggio del mouse */
}

/* MyPlayer.css */
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  z-index: 1001; /* Posiziona sopra l'area di disegno */
}

.drawing-dashboard {
  position: absolute;
  top: 10%;
  right: 1%;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi */
  gap: 1rem;
  z-index: 1001;
  width: 55px; /* Modifica qui per renderlo più stretto */
  height: 130px; /* Modifica qui per l'altezza desiderata */
}

.tool-button {
  padding: 0.3rem 0.5rem; /* Riduciamo la spaziatura interna */
  border: 1px solid #ccc; /* Aggiungiamo un contorno leggero */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Larghezza massima del pulsante */
}

.tool-button.active {
  background-color: #0056b3;
  color: white;
}

.tool-button:hover {
  border: 1px solid #0056b3; /* Cambia il colore del contorno al passaggio del mouse */
}

.color-picker {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Larghezza massima del color picker */
}

.react-sketch-canvas {
  z-index: 500; /* Posiziona sotto la dashboard */
}

.eraser-indicator {
  position: absolute;
  border: 2px dashed #3BA6D4;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000; /* Posiziona sopra l'area di disegno */
  display: none; /* Nasconde l'indicatore per impostazione predefinita */
}
